<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meetjestad monitor</title>

    <script src="__/firebase/6.2.2/firebase-app.js"></script>
    <script src="/__/firebase/6.2.2/firebase-auth.js"></script>
    <script src="__/firebase/6.2.2/firebase-firestore.js"></script>
    <script src="/__/firebase/init.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        var collection;
        Vue.component('app', {
            props: ['user', 'db', 'sensors'],
            template: `
                <div>
                    <sensors :sensorList='sensors'></sensors>
                    <addsensorform v-on:submit="onSensorSubmit"></addsensorform>
                </div>`,
            methods: {
                onSensorSubmit: function(data) {
                    console.log("onSensorSubmit", data)
                    const id = data.sensor_id + "_" + this.user.uid.substring(0,5);
                    const d = {
                        owner: this.user.uid,
                        sensor_id: data.sensor_id,
                        threshold: data.threshold,
                        email_address: data.email_address,
                    }
                    collection.doc(id).set(d).catch((err) => console.log("error saving sensor", err));
                    console.log("onSensorSubmit complete")
                },
            },
            mounted: function() {
                console.log("mounted", this.sensors)
            },
            updated: function() {
                console.log("app updated", this.sensors)
            }
        })
        
        Vue.component('sensors', {
            props: ["sensorList"],
            template: `<div class="column">
                    <div>
                        <h2 class="subtitle is-3">My sensors</h2>
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical">
                                <sensor
                                    v-for="item in sensorList"
                                    v-bind:sensorInfo="item"
                                    v-bind:key="item.sensor_id"
                                ></sensor>
                            </div>
                        </div>
                    </div>
                </div>`,
            mounted: function() {
                console.log("sensor list here", this.sensorList)
            },
            updated: function() {
                console.log("sensors list updated", this.sensorList)
            }
        })
    
        Vue.component('sensor', {
            props: ['sensorInfo'],
            template: `<div class="tile is-child">
                    <h3 class="subtitle is-5">{{ sensorInfo.sensor_id }}</h3>
                    <div>Battery voltage threshold: {{ sensorInfo.threshold }}</div>
                    <div>E-mail address: {{ sensorInfo.email_address }}</div>
                </div>`
        })
    
        Vue.component('addsensorform', {
            props: ['db', 'user'],
            data: function() {
                return {
                    form: { }
                }
            },
            methods: {
                save: function(event) {
                    /*const sensors = this.db.collection("sensors");
                    const data = {
                        sensor_id: this.form.sensor_id,
                        email_address: this.form.email_address,
                        threshold: this.form.threshold,
                        owner: this.user.uid,
                    };
                    const id = this.form.sensor_id + "_" + this.user.uid.substring(0,5);
                    sensors.doc(id).set(data);*/
                    console.log("emitting 'submit'", this.form);
                    this.$emit('submit', this.form);
                    this.form = {}
                    return false;
                },
                valid: function(event) {
                    console.log("valid?", this.form);
                    return
                        this.form.sensor_id !== undefined &&
                        this.form.sensor_id !== '' && 
                        !isNaN(this.form.threshold) && 
                        this.form.email_address !== undefined &&
                        this.form.email_address !== '';
                }
            },
            template: `<div class="column">
                <h2 class="subtitle is-3">Add new sensor</h2>
                <div>
                    <form>
                        <div>
                            <label for="sensor_id">Sensor ID:</label>
                            <input v-model="form.sensor_id" type="text" name="sensor_id" id="sensor_id" class="input" />
                        </div>
                        <div>
                            <label for="threshold">Battery voltage threshold:</label>
                            <input v-model="form.threshold" type="number" name="threshold" id="threshold" class="input" />
                        </div>
                        <div>
                            <label for="email_address">E-mail address:</label>
                            <input v-model="form.email_address" type="email" name="email_address" id="email_address" class="input" />
                        </div>
                        <div>
                            <button v-on:click.prevent="save" name="save" class="button">Monitor it!</button>
                        </div>
                    </form>
                </div>
            </div>`
        })
    </script>
    
</head>
<body>
    <div class="container">
        <h1 class="title is-1">Meetjestad monitor</h1>
        <div id="root" class="columns"></div>
        <div id="auth">
            <div id="firebaseui-auth-container"></div>
        </div>
    </div>
    <script>
        var auth = firebase.auth();
        var ui = new firebaseui.auth.AuthUI(auth);
        var db = firebase.firestore();
        collection = db.collection("sensors");

        firebase.auth().onAuthStateChanged(function(user) {
            console.log("init", user);
            if (user) {
                var app = new Vue({
                    el: '#root',
                    data: {
                        user: user,
                        db: db,
                        sensors: [],
                    },
                    template: `<app :user='user' :db='db' :sensors='sensors'></app>`
                });
                window.__VUE_DEVTOOLS_GLOBAL_HOOK__.Vue = app.constructor;
                collection.where("owner", "==", user.uid).onSnapshot(function(querySnapshot) {
                    const res = [];
                    querySnapshot.forEach((doc) => {
                        res.push(doc.data());
                    });
                    console.log("on snapshot here", app.sensors, res)
                    app.sensors = res;
                });
            } else {
                console.log("hello");
                ui.start('#firebaseui-auth-container', {
                    callbacks: {
                        signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                            // User successfully signed in.
                            // Return type determines whether we continue the redirect automatically
                            // or whether we leave that to developer to handle.
                            consolelog("signInSuccessWithAuthResult", authResult, redirectUrl)
                            return true;
                        },
                    },
                    signInSuccessUrl: '/',
                    signInOptions: [
                        {
                            provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                        },
                        {
                            provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                            customParameters: {
                                prompt: 'select_account',
                            },
                        },
                    ],
                });
                var app = new Vue({
                    el: '#auth',
                })
            }
        });
        
    </script>
</body>
</html>