<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meet je stad monitor</title>

    <script src="__/firebase/6.2.2/firebase-app.js"></script>
    <script src="/__/firebase/6.2.2/firebase-auth.js"></script>
    <script src="__/firebase/6.2.2/firebase-firestore.js"></script>
    <script src="/__/firebase/init.js"></script>

    <script src="https://kit.fontawesome.com/6db9beac64.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <script>
        var collection;
        Vue.component('app', {
            props: ['auth', 'user', 'db'],
            data: function() {
                return {sensors: []};
            },
            template: `
                <div>
                    <hero :user='user' :auth='auth'></hero>
                    <div class="columns">
                        <sensors :sensorList='sensors' v-on:sensorDelete="onSensorDelete"></sensors>
                        <addsensorform v-on:submit="onSensorSubmit"></addsensorform>
                    </div>
                </div>`,
            mounted: function() {
                var collection = this.db.collection("sensors");
                var that = this;
                collection.where("owner", "==", this.user.uid).onSnapshot(function(querySnapshot) {
                    const sensors = [];
                    querySnapshot.forEach((doc) => {
                        const d = doc.data()
                        d.doc_id = doc.id;
                        sensors.push(d);
                    });
                    that.sensors = sensors;
                });
            },
            methods: {
                onSensorSubmit: function(data) {
                    const id = data.sensor_id + "_" + this.user.uid.substring(0,5);
                    const d = {
                        owner: this.user.uid,
                        sensor_id: data.sensor_id,
                        threshold: data.threshold,
                        email_address: data.email_address,
                    }
                    collection.doc(id).set(d).catch((err) => console.log("error saving sensor", err));
                },
                onSensorDelete: function(id) {
                    collection.doc(id).delete().then(function() {
                        console.log("deleted", id);
                    })
                }
            }
        })

        Vue.component('hero', {
            props: ['auth', 'user'],
            template: `
                <section class="hero">
                    <div class="hero-head">
                        <div class="level is-mobile">
                            <div class="level-left"></div>
                            <div class="level-right">
                                <p class="level-item">{{user.displayName}}</p>
                                <figure class="level-item image is-48x48">
                                    <img :src="user.photoURL" class="is-rounded" />
                                </figure>
                                <div class="level-item">
                                    <a v-on:click="signOut"><i class="fas fa-sign-out-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title is-1">Meet je stad monitor</h1>
                        </div>
                    </div>
                </section>`,
            methods: {
                signOut: function() {
                    this.auth.signOut();
                    window.location.href = "/";
                }
            }
        })
        
        Vue.component('sensors', {
            props: ["sensorList"],
            template: `<div class="column">
                    <div>
                        <h2 class="subtitle is-3">My sensors</h2>
                        <div>
                            <div>
                                <sensor
                                    v-for="item in sensorList"
                                    v-bind:sensorInfo="item"
                                    v-bind:key="item.sensor_id"
                                    v-on="$listeners"
                                ></sensor>
                            </div>
                        </div>
                    </div>
                </div>`,
        })
    
        Vue.component('sensor', {
            props: ['sensorInfo'],
            template: `<div class="box">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <h3 class="subtitle is-5 level-item">{{ sensorInfo.sensor_id }}</h3>
                        </div>
                        <div class="level-right">
                            <button v-on:click='deleteSensor' class="delete is-medium level-item">Delete</button>
                        </div>
                    </div>
                    <sensor-card :sensorInfo="sensorInfo"></sensor-card>
                </div>`,
            methods: {
                deleteSensor: function(e) {
                    this.$emit('sensorDelete', this.sensorInfo.doc_id);
                }
            }
        })

        Vue.component('sensor-card', {
            props: ['sensorInfo'],
            template: `
                <div>
                    <p>Send alerts to
                        <strong>{{ sensorInfo.email_address }}</strong>
                        when voltage reaches
                        <strong>{{ sensorInfo.threshold }}V</strong>.
                    </p>
                </div>`
        })
    
        Vue.component('addsensorform', {
            props: ['db', 'user'],
            data: function() {
                return {
                    form: { }
                }
            },
            methods: {
                save: function(event) {
                    this.$emit('submit', this.form);
                    this.form = {}
                    return false;
                },
                valid: function(event) {
                    return
                        this.form.sensor_id !== undefined &&
                        this.form.sensor_id !== '' && 
                        !isNaN(this.form.threshold) && 
                        this.form.email_address !== undefined &&
                        this.form.email_address !== '';
                }
            },
            template: `<div class="column">
                <h2 class="subtitle is-3">Add new sensor</h2>
                <div class="box">
                    <form>
                        <div>
                            <label for="sensor_id">Sensor ID:</label>
                            <input v-model="form.sensor_id" type="text" name="sensor_id" id="sensor_id" class="input" />
                        </div>
                        <div>
                            <label for="threshold">Battery voltage threshold:</label>
                            <input v-model="form.threshold" type="number" name="threshold" id="threshold" class="input" />
                        </div>
                        <div>
                            <label for="email_address">E-mail address:</label>
                            <input v-model="form.email_address" type="email" name="email_address" id="email_address" class="input" />
                        </div>
                        <div>
                            <button v-on:click.prevent="save" name="save" class="button">Monitor it!</button>
                        </div>
                    </form>
                </div>
            </div>`
        })

        Vue.component('login', {
            props: ['auth'],
            template: `
            <div id="auth">
                <section class="section">
                    <div class="hero">
                        <div class="hero-body">
                                <div class="container">
                                    <h1 class="title is-1">Meet je stad monitor</h1>
                                </div>
                            </div>
                        </div>
                </section>
                <div id="firebaseui-auth-container"></div>
            </div>`,
            mounted: function() {
                var ui = new firebaseui.auth.AuthUI(this.auth);
                ui.start('#firebaseui-auth-container', {
                    callbacks: {
                        signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                            return true;
                        },
                    },
                    signInSuccessUrl: '/',
                    signInOptions: [
                        {
                            provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                        },
                        {
                            provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                            customParameters: {
                                prompt: 'select_account',
                            },
                        },
                    ],
                });
            }
        })
    </script>
    
</head>
<body>
    <section class="section">
        <div class="container">
            <div id="root" class="columns"></div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Created by <a href="https://ricco.dev">Ricco Førgaard</a>.
                Follow me on <a href="https://github.com/fiskeben">GitHub</a>
                or <a href="https://twitter.com/fiskeben">Twitter</a>.
            </p>
            <p>Not affiliated with the <a href="https://meetjestad.net">Meet je stad</a> project.</p>
        </div>
    </footer>
    
    <script>
        var auth = firebase.auth();
        var db = firebase.firestore();
        collection = db.collection("sensors");

        var app = new Vue({
            el: '#root',
            data: {
                auth: auth,
                user: {},
                db: db,
                sensors: [],
            },
            template: `
                <div>
                    <app v-if="user && user.uid" :auth='auth' :user='user' :db='db' :sensors='sensors'></app>
                    <login v-else :auth='auth'></login>
                </div>`,
            mounted: function() {
                console.log("root mounted", this.user);
                var that = this;
                this.auth.onAuthStateChanged(function(user) {
                    console.log("auth state changed", user);
                    that.user = user;
                    that.$emit('userStateChange', that.user);
                });
            },
        });        
    </script>
</body>
</html>
